.buttons {
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.button {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  gap: 10px;
  background: #F8F9FA;
  border: 0.5px solid #DFE2E4;
  border-radius: 20px;
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  color: #6C757D;
}

.active {
  background: #ECF4FF;
  border: 0.5px solid #0063F5;
}