@import "scss/colors.scss";

.timeLine {

  margin-bottom: 20px;

  &__line {
    margin-bottom: 2px;
  }

  &__time {
    display: flex;
    justify-content: space-around;
    font-weight: 450;
    font-size: 8px;
    line-height: 10px;
    color: $secondary-grey;
  }

}