$coin-color: #212529;
$price-color: #343A40;
$black_3: #000000;
$secondary-grey: #6C757D;
$bgc-color: #F5F5F5;
$mild_grey: #DFE2E4;
$white: #FFFFFF;
$fall-color: rgba(217, 4, 41, 1);
$active-color: #0063F5;
$grow-color: #21BF73;